* {
    box-sizing: border-box;
}

html {
    font-size: 100%;  
}

.ancora {position: absolute; translate: 0px -100px;}

body {
background-color:#CCCCCC;
font-family:Arial,Helvetica,sans-serif;
margin: 0px;
max-width:100%;
overflow-x: hidden;
border:transparent;
border-color:#FFFFFF;
font-size:100%;
}

header {
background-color: #8c3434;
font-family: 'Futura';
display:block;
z-index: 1;
position: fixed;
color:#FFFFFF;
text-align:center;
width: 100%;
margin-top: -86px;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Futura';
    margin: 0px;
    }
    h2 {
    font-size: 2rem;
    font-family: 'Futura';
    margin: 0px;
    text-align:center;
    color: #5b1212;
    }
    h3 {
    font-size: 1rem;
    margin: 15px;
    text-align:left;
    color: #000000;
    }
    h4 {
        font-size: 0.75rem;
        margin: 15px;
        text-align:left;
        color: #3b3b3b;
        }

        
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

        [class*="col-"] {
            width: 100%;
            }

        nav {
            display:block;
            margin-top: 100px;
            width:100%;
            background-color: #CCCCCC;
            }
            nav a:link, nav a:visited {
            display: block;
            border-bottom: 3px solid #ffffff;
            padding: 10px;
            text-decoration: none;
            color: #5b1212;
            font-weight: bold;
            margin: 5px;
            }
            nav a:hover {
            color: white;
            background-color: #000000;
            }

        
            section {
                display:block;
                width:100%;
                background-color: #eee;
                margin: 0px;
                padding: 0px;
                border-radius: 10px;
                box-shadow: 2px 2px 20px #888;
                }
                section h2 {
                border-radius: 10px;
                padding: 5px;
                font-size: 1rem;
                }
                section p {
                font-size: 0.9rem;
                text-align: left;
                margin: 15px;
                }
                
                aside {
                    display:none;
                    width:20%;
                    float:left;
                    margin-top: 100px;
                    }
                    aside h3 {
                    margin: 15px;
                    color: black;
                    }
                    aside p {
                    margin: 15px;
                    color: #777777;
                    font-weight: bold;
                    font-size: 0.8rem;
                    font-style: italic;
                    }
                    #container {
                        background-color: #CCCCCC;
                        display: block;
                        margin-top: 86px;
                        }
                    footer {
                        clear: both;
                        display: block;
                        background-color: #000000;
                        color:#ffffff;
                        text-align:center;
                        padding: 15px;
                        position: relative;
                        }
                    footer h2 {
                        font-size: 0.8rem;
                        color: rgb(255, 255, 255);
                        }
                        img {
                            max-width: 100%;
                            height: auto;
                            }
                            iframe {
                            max-width: 100%;
                            height: auto;
                            }
                            video {
                                display: block;
                                align-self: center;
                                max-width: 100%;
                                height: auto;
                                margin: auto;
                              }
                              table, th, td {
                                border: 2px solid;
                                border-collapse: collapse;
                                margin: 15px;
                              }
                              table {
                                width: 60%;
                              }
                              th {
                                background-color: #8c3434;
                                color: white;
                                border-color: #000000;
                              }
                              col:nth-child(odd) {background-color: #cbcbcb;}

.mySlides {
     display:none;
    text-align: center;
    }
    .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    display: none;
    }
    .dot {
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color .5s ease;
        }
        .dotpoints {
        text-align: center;
        position: absolute;
        bottom: 10%;
        left: 45%;
        }
        .active {
            background-color: #717171;
            }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
            }
        @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
            }
        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
            }

#tabletPC {
display: none;
}
svg {
width: 40px;
}
#menu_icon {
display: block;
cursor: pointer;
padding: 0px;
position: absolute;
left: 10px;
z-index: 1000;
}
#drawer {
    display: block;
    margin-top: -100px;
    background-color: #CCCCCC;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s linear;
    transform: translateX(-100%);
    top: 0px;
    border-radius: 10px;
    opacity: 1;
    }
    #drawer.open {
    transform: translateX(0);
    }


    @media only screen and (min-width: 768px) {
        #menu_icon {
            display: none;
            }
            #drawer {
            display: none;
            }
            #tabletPC {
            display: block;
            }
            nav {
                position: fixed;
                left: 0;
                height: 100%;
            }
        .col-3 {
            width: 25%;
            float: left;
        }
        .col-9 {
            width: 75%;
            float: left;
            margin-left: 25%;
            padding: 15px;
        }
        header {margin-top: 0px;}
    }

    @media only screen and (min-width: 900px) {
        aside {
            display: block;
        }
        .col-2 {
            width: 16.66%;
            float: left;
        }
        #container {
            width: 58.33%;
        }
        .slideshow-container {
            display: block;
            }
    }
